/* These rules will then be applied to all elements that are placed inside the opening and closing <html> tags that you added to the page */
body {

  font-family: Arial, sans-serif; /* Define what font and typeface to use. */
  background: linear-gradient(to right, #ff0000, #0000ff); /* Customize the linear gradient via my website : https://www.click1.top/2024/07/gradient-generator.html */
  font-size: 18px; /* Control size of body font */
  color: #f1f1f1; /* Control color of body font. f1f1f1 is white. */
}
