/* These rules will then be applied to all elements that are placed inside the opening and closing <html> tags that you added to the page */

/* --- Box-Sizing Border Box --- */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  /* --- Margin and Padding Reset --- */
  margin: 0;
  padding: 0;

  /* --- Set Font Family --- */
  font-family: sans-serif;

  /* --- Set Font size --- */
  font-size: 100%;

  /* --- Set line height --- */
  line-height: 1.5;

  /* --- Set how text is rendered --- */
  /* I might remove this rule for more info, take a look at: https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth 
  Antialiasing is a technique used in computer graphics to remove the aliasing effect. 
  The aliasing effect is the appearance of jagged edges or “jaggies” in a rasterized image (an image rendered using pixels).
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --- Set Background Color --- */
  background-color: #fff;

  /* --- Set Background gradient --- */
  /* Customize the linear gradient via my website : https://www.click1.top/2024/07/gradient-generator.html */
  background: linear-gradient(to right, #001, #003);

  /* --- Set Color --- */
  color: #fff;

  /* --- Set text alignment --- */
  text-align: left;

  /* --- Set width and height --- */
  width: 100%;
  height: 100%;

  /* --- Set Vertical Alignment to baseline. Default behaviour --- */
  vertical-align: baseline;

  /* --- Set Word Wrap to break long words --- */
  word-wrap: break-word;

  /* --- Set Position according to normal flow --- */
  position: relative;

  /* --- Set Box Shadow around element's frame --- */
  box-shadow: none;

  /* --- Set overflow of a block-level element --- */
  overflow-x: hidden;

  /* --- Set Border --- */
  border: 0;

  /* --- Set Outline --- */
  outline: 0;

  /* --- Set Cursor --- */
  cursor: default;
  
  /* --- Controls whether the user can select text --- */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* --- Controls platform-specific styling --- */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* --- Control touch --- */
  touch-action: manipulation;

  /* --- Set highlight color --- */
  -webkit-tap-highlight-color: transparent;

  /* --- Control scrolling --- */
  scroll-behavior: smooth;

  /* --- Set text decoration --- */
  text-decoration: none;

  /* --- Set Word Break --- */
  word-break: break-all;
}

